// Colors
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #ff6060;
$quaternary-color: #F6F6F6;

// Font
$font-family-base: "Montserrat", sans-serif;
$font-size-base: 18px;
$font-size-large: 36px;
$font-size-medium: 24px;
$font-size-small: 12px;

// Widht and height
$main-width: 1240px; 
$margin-vertical: 30px;
$banner-height: 223px;
$banner-height-tablet: 170px;
$banner-height-mobile: 111px;
$card-size: 340px;
$carousel-button-width: 48.68px;
$carousel-button-height: 79.2px;
$footer-height: 209px;

// Spacing
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$margin-auto: auto;
$margin-small: 10px;
$margin-medium: 30px;
$margin-large: 50px;
$margin-tablet: 50px 20px;
$gap-small: 10px;
$gap-medium: 20px;
$gap-large: 50px;
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;

// Others
$collapse-icon-size: 32px;
$collapse-icon-size-mobile: 16px;

$transition-duration: 0.3s;

// Additional variables for responsive
// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Banner
$banner-height-mobile: 111px;
$banner-height-tablet: 170px;
$banner-text-size-mobile: 24px;
$banner-text-size-tablet: 36px;
$banner-mobile-width: 335px;
$banner-tablet-widht: 768px;
$banner-desktop-widht: 1240px;