@import "../settings";

.gallery {
  @include margin-bottom($margin-medium);
}

.infos-host-container {
  @include flex-center(row, space-between);
  @include margin-top($margin-medium);
  gap: $gap-medium; 
}

.infos {
  &__title {
    color: $tertiary-color;
    font-weight: 500;
    text-align: left;
    font-size: $font-size-large;
  }

  &__location {
    text-align: left;
    font-size: $font-size-base;
    @include margin-top($margin-small);
  }
}

.host {
  @include flex-center;

  &__info {
    @include flex-center;
  }
  
  &__info-text {
    @include flex-center(column, center, center);
    color: $tertiary-color;
    font-size: $font-size-base;
    margin-right: 10px;
    text-align: right;
    width: 80px;
    height: 52px;
  }
  
  &__info-image {
    @include border-radius(50%);
    width: 64px;
    height: 64px;
  }
}

.tags-rating {
  @include flex-center(row, space-between);
  @include margin-top($margin-small);
  @include margin-bottom($margin-small);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-small;
  @include margin-top($margin-small);
  @include margin-bottom($margin-small);
}

.tag {
  background-color: $tertiary-color;
  color: $primary-color;
  @include padding(5px 10px);
  @include border-radius(25px);
  font-size: $font-size-small;
  display: inline-block;
  min-width: 115px;
}

.collapse-section {
  @include flex-center(row, space-between);
  width: 100%;
  @include margin-auto;
  gap: $gap-medium;
  align-items: stretch; /* Permet aux collapses d'avoir la même hauteur */

  .collapse {
    flex: 1;
    min-width: 0;
    flex-grow: 1;

    &__content {
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      background-color: $quaternary-color;
      @include border-radius(0 0 $border-radius-small $border-radius-small);

      &.open {
        max-height: 300px; /* Ajustez cette valeur selon le contenu */
      }

      &.closed {
        max-height: 0;
      }
    }
  }
}
