@import "../settings";

.gallery {
  margin-bottom: 20px;
}

.infos-host-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px; 
}

.infos {
  
  &__title {
    color: $tertiary-color;
    font-weight: 500;
    text-align: left;
    font-size: 36px;
  }

  &__location {
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
  }
}

.host {
  display: flex;
  align-items: center;
  
  &__info {
    display: flex;
    align-items: center;
  }
  
  &__info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $tertiary-color;
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 80px;
    height: 52px;
  }
  
  &__info-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
}

.tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  background-color: $tertiary-color;
  color: $primary-color;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 14px;
  display: inline-block;
  min-width: 115px;
}

.collapse-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  gap: 20px;    
}

.collapse li {
  text-align: left;
}

.collapse-section .collapse {
  flex: 1; /* Pour que les collapse soit de largeur égale */
  min-width: 0;
}