@import "../settings";

.banner {
  position: relative;
  @include flex-center(column);
  @include margin-top;
  @include margin-bottom($margin-large);

  &__image {
    width: $main-width;
    height: $banner-height;
    object-fit: cover;
    @include border-radius($border-radius-large);
  }

  &__image--darkened {
    filter: brightness(50%);
  }

  &__text {
    position: absolute;
    @include title-font(48px, 700, $primary-color);
    z-index: 1;
  }
}