@import "../settings";

.banner {
  width: 100%;
  max-width: $main-width;
  @include flex-center(column);
  margin: 0 auto 50px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 30px;
  }
  
  &__image {
    position: relative;
    width: 100%;
    height: 223px;
    object-fit: cover;
    box-shadow: 0px 4px 15px -4px #000000;
    @include border-radius($border-radius-large);

    margin: auto;

    @media (max-width: $breakpoint-tablet) {
    @include border-radius($border-radius-medium);
      height: auto;
      aspect-ratio: 16/4;
    }

    @media (max-width: $breakpoint-mobile) {
      min-height: 111px;
    }
  }

  &__image--darkened {
    filter: brightness(50%);
  }

  &__text {
    position: absolute;
    @include title-font(48px, 700, $primary-color);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
   
    @media (max-width: $breakpoint-tablet) {
      @include title-font(36px, 700, $primary-color);
    }

    @media (max-width: $breakpoint-mobile) {
      @include title-font(24px, 700, $primary-color);
      left: 6%;
      transform: none;
      text-align: left;
      max-width: 200px;
      width: auto;
    }
  }
}