@import '../settings';

.carousel {
  @include flex-center;
  position: relative;

  &__button {
    width: $carousel-button-width;
    height: $carousel-button-height;
    transform: scale(1);
    cursor: pointer;
    @include transition;

    &-left {
      rotate: 180deg;
      position: absolute;
      left: 23.36px;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-right {
      position: absolute;
      right: 23.36px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__image-container {
    width: $main-width;
    height: 415px;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius($border-radius-large);
  }

  &__pagination {
    position: absolute;
    bottom: -60px;
    color: $primary-color;
    font-size: $font-size-base;
    width: 100px;
    height: 100px;
  }
}