@import '../settings';

.card {
  width: 100%;
  max-width: $card-size;
  height: auto;
  aspect-ratio: 1 / 1;
  @include border-radius($border-radius-medium);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(6, 6, 6, 0.3) 100%);
  }

  &__title {
    position: absolute;
    bottom: 0;
    @include font-base($align: left, $weight: 700);
    margin: $margin-small;
    color: $primary-color;

    @media (max-width:$breakpoint-mobile) {
      
    }
  }

  @media (max-width:$breakpoint-mobile) {
    width: 100%;
    max-width: none;
    aspect-ratio: auto;
  }
}