@import "../settings";

.collapse {
  width: 1023px;
  @include margin-collapse;

  &__header {
    @include border-radius($border-radius-small);
    background-color: $tertiary-color;
    color: $primary-color;
    @include padding($padding-small $padding-medium);
    @include flex-center(row, space-between);
    cursor: pointer;
    @include transition(background-color);

    &.open {
      background-color: darken($tertiary-color, 10%);
    }
  }

  &__icon {
    width: $collapse-icon-size;
    height: $collapse-icon-size;
    @include transition(transform);

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 $padding-medium;
    @include transition(max-height, $transition-duration, ease-out);
    @include transition(padding, $transition-duration, ease-out);
    background-color: $quaternary-color;
    @include border-radius(0 0 $border-radius-small $border-radius-small);

    & p,li {
      @include font-base($font-size-base, 400, $secondary-color, left);
    }

    &.open {
      max-height: 300px;
      padding: $padding-small $padding-medium;
    }
  }
}