@import "../settings";

.collapse {
  max-width: 1023px;
  width: 100%;
  @include margin-collapse;

  @media (max-width: $breakpoint-mobile) {
    margin: 0 auto 30px;
  }

  &__header {
    @include border-radius($border-radius-small);
    background-color: $tertiary-color;
    color: $primary-color;
    @include padding($padding-small $padding-medium);
    @include flex-center(row, space-between);
    cursor: pointer;
    @include transition(background-color);
    height: 52px;

    @media (max-width: $breakpoint-mobile) {
      height: 30px;
    }

    h2 {
      font-size: $font-size-base;
    }

    &.open {
      background-color: darken($tertiary-color, 10%);
    }
  }

  &__icon {
    width: $collapse-icon-size;
    height: $collapse-icon-size;
    @include transition(transform);

    @media (max-width: $breakpoint-mobile) {
    width: $collapse-icon-size-mobile;
    height: $collapse-icon-size-mobile;
    }

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 $padding-medium;
    @include transition(max-height, $transition-duration, ease-out);
    @include transition(padding, $transition-duration, ease-out);
    background-color: $quaternary-color;
    @include border-radius(0 0 $border-radius-small $border-radius-small);

    & p,
    li {
      @include font-base($font-size-base, 400, $secondary-color, left);
      
      @media (max-width:$breakpoint-mobile) {
        @include font-base($font-size-small, 400, $secondary-color);
      }
    }

    &.open {
      max-height: 300px;
      padding: $padding-small $padding-medium;
    }
  }
}