@import '../settings';

.error {
  @include flex-center(column);
  @include padding($padding-large);

  &__logo {
    @include margin-top($margin-large);
  }

  &__message {
    color: $tertiary-color;
    font-size: $font-size-large;
    font-weight: 500;
    margin: 100px;
  }

  .back-home-link {
    font-size: $font-size-base;
    text-decoration: underline;
    @include margin-top($margin-medium);
  }
}