@import "../settings";

.gallery {
  width: 100%;
  max-width: $main-width;
  background-color: $quaternary-color;
  @include border-radius($border-radius-large);
  @include margin-bottom($margin-small);

@media (max-width:$breakpoint-mobile ) {
  background: none;
  margin-bottom: $margin-small;
}

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    justify-items: center;
    padding: 50px;
    gap: $gap-large;

    @media (max-width: $breakpoint-tablet) {
      max-width: 768px;
      grid-template-columns: 1fr 1fr;
      padding: 30px;
      gap: $gap-medium;
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 0;
      gap: $gap-small;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}