@import "../settings";

.gallery {
  width: $main-width;
  background-color: $quaternary-color;
  @include border-radius($border-radius-large);
  @include margin-top($margin-large);
  @include margin-bottom($margin-large);

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    padding: 50px;
    // Assurez-vous que les gap verticaux et horizontaux sont les mêmes
    gap: $gap-large;
  }
}