@import '../settings';

.navbar {
  @include font-base ($font-size-medium, 500);

  &__ul {
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    & .navbar__link {
      margin-left: $margin-large;
      
      &.active {
        text-decoration: underline;
      }
    }
  }
}