@import '../settings';

.footer {
@include flex-center(column);
  background-color: $secondary-color;
  color: $primary-color;
  width: 100%;
  height: $footer-height;
  @include margin-top;
  padding: 20px;

  &__logo {
    @include logo-size(122px, 40px);
    @include margin-auto
  }
}